@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu a:hover {
    color:rgb(7, 156, 243);
}
.menu a{
    font-weight:1200;
    transition-duration: 1s;
}
.menu .a:hover {
    transform: scale(1.05);
}
header .logo
{
    position: relative;
    max-width: 1200px;
}
header ul
{
    position:relative;
    display: flex;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}
.content
{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox
{
    position:relative;
    max-width: 600px;
}
.content .textBox.h2
{
    color:rgb(5, 0, 0);
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.content .textBox h2 span
{
    color: #013f71;
    font-size: 1.2em;
    font-weight: 900;
}
.content .textBox p
{
    color: rgb(17, 1, 1);
}
.content .textBox a
{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #013b71;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
.content .imgBox
{
    width: 400px;
    display: flex;
    justify-content: flex-end;
    padding-right: 150px;
    margin-top: 100px;
}
.content .imgBox img
{
    max-width: 340px;
}
footer{
    display:flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    color: #fff;
}
.footer1{
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    margin-top:15px;
}

.footer2 {
    display: flex;
    width:100%;
    justify-content:space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
}
.footer0 {
    font-weight:1200;
    transition-duration: 1s;
}
.footer0:hover {
    color:rgb(243, 168, 7);
}
.footer2 .heading {
    font-weight: 900;
    font-size: 18px;
}
.footer3 {
    margin-top:60px;
    margin-bottom: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer2 .heading:hover {
    color:rgb(243, 168, 7);
}
.footer2 .div:hover {
    transform: scale(1.05);
}
.footer3 h4 {
    margin:0 10px;
}
.footer2 div {
    margin:10px;
}
